.signup 
{
    h1 
    {
        margin-top: 50px;
        text-align: center;
        color: blueviolet;
    }

    .auth-toggle-link
    {
        margin-top: 20px;
        font-size: 14px;
        color: blueviolet;
        cursor: pointer;
        text-align: left;
    }

}
.login 
{
    h1 
    {
        margin-top: 50px;
        text-align: center;
        color: blueviolet;
    }

    .auth-toggle-link
    {
        margin-top: 20px;
        font-size: 14px;
        color: blueviolet;
        cursor: pointer;
        text-align: left;
    }

}